<%= simple_form_for @design do |f| %>
  <div class="form-inputs">
      <%= f.association :alcohol_shape%>
    <div class="infos">
      <%= f.button :submit, "Save design", class: "btn btn-flat log"  %>
    </div>
  </div>
<% end %>
