// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$my-brown: #856852;
$my-yellow: #FAC833;

$light-gray: #F4F4F4;
$my-darkblue: #0f3057;
$my-gold: #ffc65a;
$my-black: #0A0908;
$my-green: #5bd1ca;
$my-blue: #256EFF;
$my-gray: #C8BFC7;


