<p>Salut <%= @user.email %>,</p>

<p>Bienvenu.e à l'Atelier Target!</p>

<p>Ici, tu peux...
<p>Cibler ce que que tu veux, tant qu'il s'agit de bière</p>
<p>Savoir le style de bière qui correspond à tes goûts du moments</p>
<p>Trouver une brasserie artisanale ou un caviste.</p>
<p>Lire des recettes de bière qui correspondent à des objectifs</p>
<p>Trouver des étiquettes à éditer pour habiller tes bouteilles</p>
<p>Et même rencontrer des acteurs de la bière faire naître ta bière sur-mesure</p>
<p>N'hésite pas à rentrer en contact avec moi si tu as des questions le site dispose d'outils à ta disposition</p>


<p>Cheers</p>
