<p>Salut <%= @user.email %>,</p>

<p>Bienvenu à l'Atelier Target!</p>

<p>Pourquoi target ?</p>
<p>Tout simplement parce qu'ici tu peux cibler ce que que tu veux tant qu'il s'agit de bière</p>
<p>Savoir le style de bière qui correspond à tes goûts du moments</p>
<p>Trouver une brasserie artisanale ou un caviste pas loin d'où tu es</p>
<p>Lire des recettes de bière qui correspondent à des objectifs</p>
<p>Trouver des étiquettes à éditer pour habiller tes bouteilles</p>
<p>Et même rencontrer des artistes brasseurs ou zythologues prêts à faire naître de la bière sur-mesure</p>
<p>N'hésite pas à rentrer en contact avec moi si tu as des questions le site dispose d'outils à ta disposition</p>
<p><%= link_to 'Le beertracker', new_public_search_url %>, pour trouver dans notre catalogue ton type de bière </p>
<p>'Le beermap'(toujours en construction), pour trouver les cavistes ou brasseurs du réseau autour de toi</p>
<p><%= link_to 'Les Targetbeers', target_beers_url %>, pour voir les créations de l'atelier </p>
<p><%= link_to 'Le beerproject', projects_url %>, pour proposer vos idées de créations à l'atelier </p>

<p>Cheers</p>
