<div class="sides bottom">
  <h4 class="title-top">A Lire</h4>
  <% @articles.each do |a| %>
    <%= link_to a do %>
      <p class='side-cell shadow'><%= a.title %></p>
    <% end %>
  <% end %>
</div>

