<div class="offnav"></div>
<div class="container">
  <div class="card space">
    <h1 class='page-title center'> Actualités </h1>
  </div>
  <div class="row">
    <div class="mx-auto col-xs-12 col-sm-6 col-lg-4 index">
      <% @articles.each do |b| %>
        <%= render 'articles', article: b %>
      <% end %>
    </div>
  </div>
</div>
