<div class="offnavs"></div>
<div class="container">
  <h2 class='center bottom top'> Les Articles </h2>
  <div class="row">
    <% @articles.each do |u| %>
      <div class="col-lg-4 col-sm-6 index">
        <%= render 'articles', article: u %>
      </div>
    <% end %>
  </div>
</div>
