<div class="offnav"></div>
<div class="container">
  <h2 class='center bottom top'> Science & Techniques </h2>
  <div class="row">
    <div class="mx-auto col-xs-12 col-sm-6 col-lg-4">
      <% @articles.each do |b| %>
        <%= render 'articles', article: b %>
      <% end %>
    </div>
  </div>
</div>
