<div class="container">
  De : <%= conversation.with(current_user).name %>
  <div id='mailbox'>
    <% if conversation.personal_messages.last.read != true %>
      <%= 'statue: non lu' %>
    <% end %>
    <br>
    <em>MSG : <%= conversation.personal_messages.last.body.truncate(50) %></em>
    <br>
  </div>
  <%= link_to 'Répondre', conversation_path(conversation), class: 'btn btn-ghost' %>
  <hr>
</div>
<script type="text/javascript">

  $(document).ready(function(){
    function updateStatus() {
      $( "#mailbox" ).load(window.location.href + " #mailbox" );
    }
    setInterval(updateDiv, 4000);
  });
</script>
