<div class="container" id='mailbox'>
  De : <%= conversation.with(current_user).name %>
  <% if conversation.personal_messages.last.read != true %>
    <%= 'statue: non lu' %>
  <% end %>
  <br>
  <em>MSG : <%= conversation.personal_messages.last.body.truncate(50) %></em>
  <br>
  <%= link_to 'Répondre', conversation_path(conversation), class: 'btn btn-ghost' %>
  <hr>
</div>
<script type="text/javascript">

  $(document).ready(function(){
    function updateDiv() {
      $( "#mailbox" ).load(window.location.href + " #mailbox" );
    }
    setInterval(updateDiv, 4000);
  });
</script>
