<div class="offnav"></div>
<div class="container top bottom">
  <h1 class='page-title center'>Mailbox</h1>

  <div id="conversations">
    <%= render @conversations.sort_by(&:updated_at) %>
  </div>
</div>
