<div class="offnav"></div>
<div class="container top bottom">
  <h1 class='page-title center'><%= title 'Mailbox' %></h1>

  <div id="conversations">
    <%= render @conversations.sort_by(&:updated_at) %>
  </div>
</div>
<script type="text/javascript">

  $(document).ready(function(){
    function updateStatus() {
      $( "#conversations" ).load(window.location.href + " #conversations" );
    }
    setInterval(updateStatus, 4000);
  });
</script>
