<div class="offnav bottom"></div>
<div class="container top">
  <div class="row">
    <div class="mx-auto">
      <%= cl_image_tag @sticker.photo.key, width: 600, height: 400, crop: :fill, class: 'img-fluid' %>
    </div>
  </div>
</div>
