<div class="offnav bottom"></div>
<div class="container top">
  <div class="row">
    <div class="mx-auto">
      <%= cl_image_tag @sticker.photo.key, width: 600, height: 400, crop: :fill, class: 'img-fluid' %>
    </div>
  </div>
</div>
<% if @sticker.projects.present? %>
  <div class="container">
    <div class="row">
      <% @sticker.projects.each do |project| %>
        <div class="col-lg-3 mx-auto">
          <%= link_to project do %>
            <% render 'projects/project_card', project: project %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
