<div class="offnav"></div>
<h1>Mon compte or @user.compte</h1>
<p>photo</p>
<p>activité</p>
<p>réservation</p>
<p>bières</p>
<p>membre oui/non</p>
<p>if @user == current_user >>> button edit profil</p>

<%= link_to 'créer une bière', new_beer_path %>
