<% if notice %>
  <div id="notice-wrapper" class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="message"> <%= notice %></div>
  </div>
<% end %>
<% if alert %>
  <div id="alert-wrapper" class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="advice"><%= alert %></div>
<% end %>

<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

<script>
  $(document).ready(function(){
    setTimeout(function(){
      $('#notice-wrapper').fadeOut("slow", function(){
        $('#notice-wrapper').remove();
      })
    }, 2000 );
  });
</script>

<script>
  $(document).ready(function(){
    setTimeout(function(){
      $('#alert-wrapper').fadeOut("slow", function(){
        $('#alert-wrapper').remove();
      })
    }, 2000 );
  });
</script>
