<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1667300910/Black_trackr_ik3gwk.webp", class: 'img-fluid footer-logo', alt: 'logo' %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 mx-auto">
        <div class="item">
          <p>Découverte de produits</p>
          <p>Découverte de lieux</p>
          <p>Découverte de soi</p>
          <p>Découverte des autres</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 mx-auto">
        <div class="item">
          <p>Mentions légales</p>
          <p>Conditions générales d'utilisation</p>
          <p>Politique de confidentialité</p>
          <p>Partenaires</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mx-auto">
        <div class="item">
          <p>Philippe Chambon</p>
          <p>Envoyer un message</p>
          <p>Atelier Target 2021 <i class="far fa-copyright"></i></p>
          <p> <a href="#"><i class="fab fa-instagram nav-link-2"></i></a>
            <a href="#"><i class="fab fa-youtube nav-link-2"></i></a>
            <a href="#"><i class="fab fa-linkedin nav-link-2"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
