<div class="footer">
  <div class="footer-copyright">
    Cabinet Target 2021 <i class="far fa-copyright"></i>
  </div>
  <div>
    <a href="#"><i class="fab fa-instagram nav-link-2"></i></a>
    <a href="#"><i class="fab fa-youtube nav-link-2"></i></a>
    <a href="#"><i class="fab fa-linkedin nav-link-2"></i></a>
  </div>
</div>
