<div class="footer">
  <div class="footer-copyright">
    This footer is made with <i class="far fa-heart"></i> at Le Wagon
  </div>
  <div class="nav-item">
    <a href="#"><i class="fab fa-instagram nav-link-2"></i></a>
    <a href="#"><i class="fab fa-twitter nav-link-2"></i></a>
    <a href="#"><i class="fab fa-linkedin nav-link-2"></i></a>
  </div>
</div>
