<div class="navbar navbar-expand navbar-light navbar-lewagon-2">
  <div class="right">
    <a href="#"><i class="fab fa-instagram nav-link-2"></i></a>
    <a href="#"><i class="fab fa-twitter nav-link-2"></i></a>
    <a href="#"><i class="fab fa-linkedin nav-link-2"></i></a>
  </div>
</div>
