<div class="card">
  <h3 class="title-top-right">L'ATELIER</h3>
  <div class="social-networks">
    <a href="#"><i class="fab fa-instagram nav-link-2"></i></a>
    <a href="#"><i class="fab fa-youtube nav-link-2"></i></a>
    <a href="#"><i class="fab fa-linkedin nav-link-2"></i></a>
  </div>
</div>
