<%= link_to edit_market_place_path(place) do %>
  <h5><%= place.name %></h5>
<% end %>
<p><%= place.city %></p>
<% if place.beers.present? %>
  <% place.beers.each do |f| %>
    <p class='mp-beer-name'><%= f.name %></p>
  <% end %>
<% end %>
