<div class="offnav"></div>
<div class="container concept">
  <div class="row">
  <!-- About Section -->
    <div class="col-xs-4 col-lg-6 portrait">
     <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1544549071/redwv10k9nm0xtzemtb5.jpg", class: 'img-responsive', width: 400 %>
    </div>

    <div class="col-xs-8 col-lg-6 legend">
      <h1 class="center">Le cabinet</h1><br>
      <h5 class="center">Tradition since 1889</h5>
      <p class="large">Depuis plusieurs années déjà le Cabinet et le lieu de création privilégié pour les productions artistiques. Musique, vidéos, objets mais aujourd'hui des boissons y trouvent leur place. Pourquoi ariste et pas artisan brasseur ? Il n'y a rien de pompeux la dedans; la démarche est juste différente et la nomenclature est stricte sur le sujet. Autodidacte, chaque production s'adresse aux différents sens mais aussi à l'intellect. La recherche d'une expression et la quantité extrêment limitée de mes productions et expérimentations fait de chaque bouteille de bière une oeuvre personelle. Mes productions s'inscrivent entre celles de l'artiste tatoueur et la haute couture. <span class="w3-tag w3-light-grey"></span></p>
      <p class="w3-large w3-text-grey w3-hide-medium">Certaines bières sont des flash, d'autres entrerons dans une collection, enfin d'autres se font en collaboration avec d'autres brasseurs, artiste ou amateur de bière Afin de créer un design authentique.
      Quoi de plus agréable que de concevoir exactement ce que l'on a envie de boire?</p>
    </div>
  </div>

  <hr>


  <!-- Menu Section -->

  <div class="row">
    <div class="col-xs-8 col-lg-6 legend">
      <h1 class="center">Les bières</h1>
      <% @beers.each do |b| %>
        <% if b.category.name == 'Target' %>
          <%= b.style.name %>
        <% end %>
      <% end %>
      <br>
      <h4>Les Target beers</h4>
      <p class="text-grey">Les bières de toute saison, celles qu'on aime boire et partager pour profiter du moment</p><br>

      <h4>Collection Printemps/été 2021</h4>
      <p class="text-grey">Les bières assez légères aux arômes floraux et agrumes avec une amertume souple pour le côté rafraichissant</p><br>

      <h4>Collection Automne/Hiver 2021</h4>
      <p class="text-grey">Les bières plus fortes et plus lourde en bouche, elles nous rappellent les pubs et que les jours raccoursissent</p><br>

      <h4>Bières Designées 2021</h4>
      <p class="text-grey">C'est que nos palais demandent, des expérimentations, l'utilisation dans un même brassin de techniques et houblons qui n'auraient pas pu coexister avant le XXème siècle</p><br>

    </div>

    <div class="col-xs-4 col-lg-6 portrait">
      <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1614174132/logo_la_chope_gqgs3l.png", class: 'img-responsive', width: 400 %>
    </div>
  </div>
  <hr>
  <div class="row">
  <!-- About Section -->
    <div class="col-xs-4 col-lg-6 portrait">
     <%= image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1614174132/logo_la_chope_gqgs3l.png", class: 'img-responsive', width: 400 %>
    </div>

    <div class="col-xs-8 col-lg-6 legend">
      <h1 class="center">About Me</h1><br>
      <h5 class="center">Pub regular</h5>
      <p class="large">Barman depuis 2006, j'ai naturellement appris connaître les produits que je servais mais egalement à identifier ce que les clients recherchaient ; chaque demande est unique car nous n'avons pas tous le même vocabulaire pour décrire un produit selon nos connaissances, expériences et intêrets. Pourtant, j'ai souvent vu des discusions, amitiés et relations démarrer à partir d'une discussion autour d'un verre de vin, de bière ou autre. En outre, mon expression artistique s'articule autour du besoin de détente et communication que nous avons tous quelles que soient nos origines, nos identités, nos croyances, quels que soient nos parcours.
      <p class="w3-large w3-text-grey w3-hide-medium">Ajoutez à ça, quelques années de productions musicales rock n roll et mon histoire avec la bière devient une relation plus qu'intime ; elle a pu accompagner tous mes états d'âmes. La bière, plus que jamais, un produit à apprécier mais à consommer avec Modération</p>
    </div>
  </div>

  <hr>
</div>

