<div class="offnavs"></div>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Design en Featuring
</div>

<% @beers.each do |b| %>
  <% if b.category.name == 'Design Featuring' %>
    <div class="card-product">
      <%= cl_image_tag b.photo.key %>
      <div class="card-product-infos">
        <h2><%= b.name %></h2>
        <p><%= b.description %></p>
      </div>
    </div>
  <% end %>
<% end %>


