<div class="offnavs"></div>
<div class="container banner bottom">
  <div class="row">
    <%= cl_image_tag("hop-xanthohumol-bier-metabool-syndroom-obesitas-flavonoi%CC%88den_t0mvmd.jpg", :height=>500, :width=>1120, :crop=>"fit", class: 'img-fluid') %>
    <div class="centered">
      <h1>Le Cabinet<strong> Target</strong></h1>
      <p>Collectif Hédoniste et Artistique.</p>
      <a class="btn btn-flat" href="#">Apply now</a>
    </div>
  </div>
</div>

<div class="container bottom">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <%= cl_image_tag("brewery-1536x1024_xir7ax.jpg", :quality=>"jpegmini", :width=>300, :crop=>"fit", :sign_url=>true, class: 'img-responsive') %>
        <div class="card-body">
          <h4 class="card-title">Visiteur</h4>
          <p class="card-text">Some example text.</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <%= cl_image_tag("bieres-beers_dd7sqm.jpg", :quality=>"jpegmini", :width=>300, :crop=>"fit", :sign_url=>true, class: 'img-responsive') %>
        <div class="card-body">
          <h4 class="card-title">Membre</h4>
          <p class="card-text">Some example text.</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <%= cl_image_tag("ef2f62de90464d8b6aeea5702951fd36_omwnp6.jpg", :quality=>"jpegmini", :width=>300, :crop=>"fit", :sign_url=>true, class: 'img-responsive')%>
        <div class="card-body">
          <h4 class="card-title">Membre Premium</h4>
          <p class="card-text">Some example text.</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
