<div class="access">
  <h1 class='center'><%= title "Code d'accès" %></h1>
  <%= simple_form_for (@access) do |f| %>
    <%= f.input :code, input_html: { class: 'center', autocomplete: 'off', value: '*****'} %>
    <%= f.button :submit, 'Valider', class: "btn btn-alternative" %>
  <% end %>
</div>
