<div class="offnavs"></div>
<div class="container top">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-8">
      <h1 class="title card center">Lambics & Sours</h1>
      <div class="card">
        Le lambic est une bière de fermentation spontanée (levures sauvages) en principe exclusivement produite dans la vallée de la Senne (sud de Bruxelles) et dans le Pajottenland (ouest de Bruxelles). C'est une bière plus ou moins acide selon son âge, sans pétillant ni mousse, et titrant environ 5° d'alcool. Elle est consommée telle quelle et sert aussi de base pour la production du faro, de la gueuze et de la kriek.
      </div>
      <div class="row">
        <% l = [] %>
        <% @typical_beers.each do |tb| %>
          <% if tb.beer_family.name == 'Lambics & Sours' %>
            <div class="mx-auto col-xs-8 col-sm-6 col-lg-6 index">
              <%= render 'typical_beer_card', typical_beer: tb %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="mx-auto col-xs-8 col-sm-12 col-lg-3 index">
      <%= render 'articles/articles_side' %>
      <%= render 'beers/ales_side' %>
      <%= render 'beers/mixed_side' %>
    </div>
  </div>
</div>
