<div class="offnavs"></div>
<div class="container top">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-8">
      <h1 class="title card center">Wheat beers</h1>
      <div class="card">
        <p class='header-text'>Bière originaire des États-Unis avec un minimum de 30% de blé / froment et un taux d'alcool assez bas. <br>
        Souvent épicée, elle existe aujourd'hui avec des ajouts comme le citron, le gingembre, la citronnelle, la coriandre, etc.</p>
      </div>
      <div class="row">
        <% wb = [] %>
        <% @typical_beers.each do |tb| %>
          <% if tb.beer_family.name == 'Wheat beers' %>
            <div class="mx-auto col-xs-8 col-sm-6 col-lg-6 index">
              <%= render 'typical_beer_card', typical_beer: tb %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="mx-auto col-xs-8 col-sm-12 col-lg-3 index">
      <%= render 'articles/articles_side' %>
      <%= render 'beers/ales_side' %>
      <%= render 'beers/mixed_side' %>
    </div>
  </div>
</div>
