<div class="container bottom">
  <div class="form-login">
    <h1 class="page-title center">retirer de ma liste d'envie</h1>
    <%= simple_form_for([ @beer, @fancy ]) do |f| %>
      <%= f.input :heart, as: :radio_buttons, required: false,
        input_html: { class: "squaretag-selector" },
        item_wrapper_class: 'squaretag-item', label: "Autre" %>
      <p class='card-text center'><%= f.button :submit, "Valider" %></p>
    <% end %>
  </div>
</div>
