<div class="card sides top bottom shadow">
  <% ales = [] %>
  <h4 class="title-top">ALES</h4>
  <% @beers.each do |b| %>
    <% if b.category.name == 'Ales' %>
      <% ales << b %>
    <% end %>
  <% end %>
  <% ales.each do |t| %>
    <%= link_to t do %>
      <div class="beer-link card-infos">
        <p class='beer-link-text'>Nom : <%= t.name %></p>
        <p class='beer-link-text'>Style : <%= t.style.name %></p>
        <div class="line"></div><br>
      </div>
    <% end %>
  <% end %>
</div>
