<h3 class="title-top">Familles de Styles lagers</h3>
<div class="card bottom box">
  <%= link_to 'Pilsner', pilsners_typical_beers_path, class: 'side-cell shadow' %>
  <%= link_to 'American Lager', american_lagers_typical_beers_path, class: 'side-cell shadow' %>
  <%= link_to 'European Lager', european_lagers_typical_beers_path, class: 'side-cell shadow' %>
  <%= link_to 'Bock ', bocks_typical_beers_path, class: 'side-cell shadow' %>
</div>
