<div class="card sides bottom shadow">
  <h3 class="title-top">Familles de Styles lagers</h3>
  <div class="cell"><%= link_to 'Pilsner', pilsners_typical_beers_path, class: 'side-link' %> </div>
  <div class="cell"><%= link_to 'American Lager', american_lagers_typical_beers_path, class: 'side-link' %></div>
  <div class="cell"><%= link_to 'European Lager', european_lagers_typical_beers_path, class: 'side-link' %> </div>
  <div class="cell"><%= link_to 'Bock ', bocks_typical_beers_path, class: 'side-link' %></div>
</div>
