<div class="card sides top bottom shadow">
  <% lagers = [] %>
  <h4 class="title-top">LAGERS</h4>
  <% @beers.each do |b| %>
    <% if b.category.name == 'Lagers' %>
      <% lagers << b %>
    <% end %>
  <% end %>
  <% lagers.each do |t| %>
    <%= link_to t do %>
      <div class="beer-link card-infos">
        <p class='beer-link-text'>Nom : <%= t.name %></p>
        <% if t.style.present? %>
          <p class="beer-link-text"><%= t.style.name %></p>
        <% else %>
          <p class="beer-link-text"><%= t.typical_beer.style.name %></p>
        <% end %>
        <div class="line"></div><br>
      </div>
    <% end %>
  <% end %>
</div>
