<div class="like-icon mx-2 <%= 'red' if current_user.favorited?(beer) %>" data-id="<%= beer.id %>" type="checkbox" value="Reload Page" onClick="window.location.reload(true)">
  <i class="fas fa-heart"></i>
</div>
