<div class="card sides top bottom">
  <% mixed_styles = [] %>
  <h4 class="title-top">STYLES MIXTES</h4>
  <% @beers.each do |b| %>
    <% if b.category.name == 'Mixed Styles' %>
      <% mixed_styles << b %>
    <% end %>
  <% end %>
  <% mixed_styles.each do |t| %>
    <%= link_to t do %>
      <div class="beer-link card-infos">
        <p class='beer-link-text'>Nom : <%= t.name %></p>
        <p class='beer-link-text'>Style : <%= t.style.name %></p>
        <div class="line"></div><br>
      </div>
    <% end %>
  <% end %>
</div>
