<div class="offnavs"></div>
<% ales = [] %>
<% @beers.each do |b| %>
  <% if b.category.name == 'Ales' %>
    <% ales << b %>
  <% end %>
<% end %>
<div class="container top">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-8">
      <div class="row">
        <%= render 'ales'  %>
      </div>
    </div>
    <div class="col-lg-3">
      <%= render 'lagers_side' %>
      <%= render 'mixed_side' %>
    </div>
  </div>
</div>
