<div class="offnavs"></div>
<% ales = [] %>
<% @beers.each do |b| %>
  <% if b.typical_beer.category.name == 'Ales' %>
    <% ales << b %>
  <% end %>
<% end %>
<div class="container top">
  <div class="row">
    <div class="mx-auto d-none d-lg-block col-lg-3 index">
      <%= render 'articles/articles_side' %>
      <%= render 'ales_families' %>
      <% ales.each do |b| %>
        <div class="mx-auto col-xs-8 col-sm-6 col-lg-3 index">
          <%= render 'beer_card', beer: b %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-9">
      <div class="card shadow">
        <h1 class='title-top'><%= title 'Ales' %></h1>
      </div>
      <div class="page-description">
        <p>
          Le terme ale, d'origine vieux norvégien (øl), via l'anglais, désigne de manière générique les bières de fermentation haute, une des quatres grandes familles de bière avec les lambics (fermentation spontanée), les lagers (fermentation basse) et les dynamiques (fermentation mixte)... C'est le type de fermentation le plus courant en brasserie artisanale. Les levures de fermentation hautes ont un bon rendement ; rapides et ne necessitant pas la mise en place de systèmes extravagants ou coûteux pour contrôler la température. C'est la fermentation la plus utilisée dans les styles de bière de Grande-Bretagne.
        </p>
      </div>
    </div>
  </div>
</div>
