<div class="offnavs"></div>
<% mixed_styles = [] %>
<% @beers.each do |b| %>
  <% if b.typical_beer.category.name == 'Mixed Styles' %>
    <% mixed_styles << b %>
  <% end %>
<% end %>
<div class="container top">
  <div class="row">
    <div class="mx-auto d-none d-lg-block col-lg-3 index">
      <%= render 'articles/articles_side' %>
      <%= render 'mixed_side' %>
    </div>
    <div class="col-lg-9">
      <div class="card shadow bottom">
        <h1 class='title-top'><%= title 'Styles mixtes' %></h1>
      </div>
      <div class="card shadow">
        <p class= 'page-description'>
          La fermentation mixte combine une fermentation par des levures classiques de brasseries (Saccharomyces pastorianus et Saccharomyces cerevisiae) et une fermentation par des organismes divers, souvent qualifiés de "sauvages" (Brettanomyces, Lactobacillus, Pediococcus...). La bière finie présente une acidité marquée, mais la fermentation mixte permet d'avoir un résultat plus modéré que chez les lambics. Les styles les plus connus sont les vieilles brunes et les rouges des Flandres, mais un grand nombre de brasseries utilisent ce type de fermentation pour produire des bières diverses. On peut également avoir un taux de sucre résiduel légèrement supérieur.
        </p>
      </div>
      <div class="row">
        <% mixed_styles.each do |b| %>
          <div class="mx-auto col-xs-8 col-sm-6 col-lg-4 index">
            <%= render 'beer_card', beer: b %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
