<div class="offnavs"></div>
<div class="container top bottom">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-1"></div>
    <div class="col-xs-12 col-sm-12 col-lg-8">
      <h2 class='center'>Collection Printemps/été</h2>
      <div class="card target-description index-side bottom">
        <p class=''></p>
      </div>
      <div class="row">
        <% @beers.each do |b| %>
          <div class="mx-auto col-xs-8 col-sm-6 col-lg-6 index">
            <%= render 'beer_card', beer: b %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mx-auto col-9 col-sm-5 col-lg-4 index">
      <h2 class='center'>A Découvrir</h2>
      <%= render 'articles/articles_side' %>
    </div>
  </div>
</div>

