<div class="offnavs"></div>
<% strong = [] %>
<% @beers.each do |b| %>
  <% if b.alcohol_shape != nil %>
     <% if b.alcohol_shape.name == '6°≤ Forte ≤ 9°' %>
      <% strong << b %>
    <% end %>
  <% end %>
<% end %>
<div class="container top">
  <div class="row">
    <div class="mx-auto d-none d-lg-block col-lg-3 index">
      <%= render 'shared/intra_links' %>
      <%= render 'articles/articles_side' %>
    </div>
    <div class="col-lg-9">
      <div class="card shadow">
        <h1 class='title-top'><%= title 'Bières fortes' %></h1>
      </div>
      <div class="row">
        <% strong.each do |b| %>
          <div class="mx-auto col-6 col-sm-6 col-lg-4 index">
            <%= render 'beer_card', beer: b %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
