<div class="offnavs"></div>
  <div class="container top bottom">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-8">
        <div class="card space">
          <h1 class="page-title center">C'est Quoi Une Target Beer ?</h1>
        </div>
        <div class="card">
          <h2 class='header-text'>La démarche de l'atelier c'est de produire un objet d'art, traditionnel, qui exprime quelque chose en suivant une note d'intention. Aussi, l'atteinte de cet objectif ne se fait pas en une fois et nécessite des essais pour maîtriser chacun des aspects importants de la cible. La cible n'est pas que la bière ; c'est l'objet bière.</h2>
        </div>
        <div class="row">
          <% @beers.each do |b| %>
            <div class="mx-auto col-6 col-lg-4">
              <%= render 'beer_card', beer: b %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="mx-auto col-12 col-lg-3">
        <%= render 'shared/social-networks' %>
        <%= render 'articles/articles_side' %>
      </div>
      </div>
    </div>
  </div>
</div>


