<div class="offnavs"></div>
  <div class="container top bottom">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-1"></div>
      <div class="col-xs-12 col-sm-12 col-lg-8">
        <h2 class='center'>C'est Quoi une Target Beer ? </h2>
        <div class="card target-description index-side bottom">
          <p class=''></p>
        </div>
        <div class="row">
          <%= render 'select' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-3">
        <h2 class='center'>A Découvrir</h2>
        <%= render 'articles/articles_side' %>
      </div>
      </div>
    </div>
  </div>
</div>


