<div class="offnavs"></div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/da2krghvd/image/upload/v1614876232/Target_xaorog.jpg);">
  <div class="container">
    <% @beers.each do |b| %>
      <div class="card-product">
        <%= cl_image_tag b.photo.key %>
        <div class="card-product-infos">
          <h2><%= b.name %></h2>
          <p><%= b.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>


