<div class="offnavs"></div>
<% white = [] %>
<% @beers.each do |b| %>
  <% if b.typical_beer.design_color.name == 'Blanche' %>
    <% white << b %>
  <% end %>
<% end %>
<div class="container top">
  <div class="row">
    <div class="col-lg-9">
      <div class="card space shadow">
        <h1 class="page-title center">Bières Blanches</h1>
      </div>
      <div class="row">
        <% white.each do |b| %>
          <div class="mx-auto col-xs-8 col-sm-6 col-lg-4 index">
            <%= render 'beer_card', beer: b %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mx-auto col-xs-8 col-sm-12 col-lg-3 index">
      <%= render 'articles/articles_side' %>
      <%= render 'shared/intra_links' %>
    </div>
  </div>
</div>
