/*article cards*/

.article-top-infos{
  color: #3C3C3C;
}

.article-top-title{
  color: #3C3C3C;
}

.article-link{
  padding-left: 20px;
  padding-bottom: 10px;
}
.article-link-text{
  margin-bottom: 0px;
  color: #3C3C3C;
  font-size: 14px
}
.article-link-text:hover{
  color: $my-blue;
}
.content{
  margin-left: 40px;
  margin-right: 40px;
  padding-top:30px;
}
