.blackboard{
  background-image: linear-gradient(-245deg, black, #3C3C3C);
  padding: 10px 20px;
  margin-top: 100px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-radius: 30px;
}

.blackboard h1{
  font-size: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Allura', sans-serif;
  font-weight: lighter;
  color: white;
  text-align: center;
}

.blackboard legend{
  color: white;
  text-align: center;
}

.blackboard p{
  font-size: 14px;
  font-weight: lighter;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

.blackboard .validate{
  background-color: black;
  border: 1px solid #ffc65a;
  color: white;
  text-align: center;
  border-radius: 25px;
  padding: 6px 30px;
  margin-bottom: 20px;
}

.head{
  background-image: linear-gradient(-245deg, black, #3C3C3C);
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-radius: 30px;
  margin-bottom: 30px;
  h1{
    color: white;
    text-align: center;
    font-family: 'Allura';
  }
  h2{
    font-size: 24px;
    font-weight: lighter;
    color: white;
    text-align: center;
  }
}

.page-description{
  background-image: linear-gradient(-245deg, black, #3C3C3C);
  padding: 17px 25px 1px 25px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-radius: 30px;
  margin-bottom: 30px;
  p{
    color: white;
    text-align: center;
    font-family: 'helvetica';
    font-weight: lighter;
  }
}

