.btn-ghost {
  color: $my-blue;
  padding: 5px 20px;
  border-radius: 50px;
  border :solid 1px;
  font-weight: lighter;
  background: white;
  margin-bottom: 5px;
  margin-top: 5px;
  transition: background 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  background-image: linear-gradient(-180deg, $black, $my-blue);
  text-decoration: none;
  color: white;
}

.btn-flat {
  color: $my-blue;
  border-radius: 3px;
  background: white;
  transition: background 0.3s ease;
  box-shadow: 1px 1px 2px black, 0 0 5px $my-blue, 0 0 5px white;
}

.btn-flat:hover {
  background: $my-blue;
  color: white;
  text-decoration: none;
  opacity: 1;
  text-shadow: 1px 1px 2px black, 0 0 25px $my-blue, 0 0 5px white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.photo{
  margin-top: 32px;
  color: $my-blue;
  padding: 5px 20px;
  border-radius: 3px;
  border :solid 1px;
  font-weight: lighter;
  background: white;
  transition: background 0.3s ease;
}

/* boolean buttons*/

.toggle {
  position: absolute;
  transform: scale(0);
}

.toggle + label {
  position: relative;
  display: inline-block;
  padding-left: 140px;
}

.toggle + label::before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 20px;
  top: 2px;
  left: 0;
  background-color: #EAEAEA;
  border-radius: 50rem;
}

.toggle:checked + label::before {
  background-color: $my-green;
}

.toggle + label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease;
}

.toggle:checked + label::after {
  left: 18px;
}

