.btn-ghost {
  color: white;
  padding: 5px 20px;
  border-radius: 4px;
  font-weight: lighter;
  background-image: linear-gradient(-270deg, black, #3C3C3C);
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px solid $my-gold;
  transition: all 0.3s ease;
}

.btn-ghost:hover {
  background: $my-gold;
  border: 1px solid black;
  color: black;
  transform: scale(1.1);
}
.btn-publication{
  padding: 5px 20px;
  border-radius: 4px;
  font-weight: lighter;
  background: $my-gold;
  color: black;
  margin-bottom: 5px;
  margin-top: 5px;
  transition: all 0.3s ease;
}
.btn-publication:hover{
  transform: scale(1.1);
}
.btn-alternative {
  color: white;
  padding: 5px 20px;
  border-radius: 4px;
  font-weight: lighter;
  background-image: linear-gradient(-180deg, black, #3C3C3C);
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px solid $my-gold;
  transition: background 0.3s ease;
}

.btn-alternative:hover {
  background: $my-gold;
  color: white;
}

.btn-home {
  background-color: black;
  border: 1px solid #ffc65a;
  color: white;
  text-align: center;
  border-radius: 25px;
  padding: 7px 32px;
  transition: background 0.3s ease;
}

.btn-home:hover {
  background: #ffc65a;
  text-decoration: none;
  color: #151718;
}

.btn-flat {
  color:blue;
  border-radius: 3px;
  background: white;
  transition: background 0.3s ease;
  box-shadow: 1px 1px 2px black, 0 0 5px $my-green, 0 0 5px white;
}

.btn-flat:hover {
  background: $my-blue;
  color: white;
  text-decoration: none;
  opacity: 1;
  text-shadow: 1px 1px 2px black, 0 0 25px $my-green, 0 0 5px white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
.btn-ghost-2 {
  color: #4A4A4A;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: $light-gray;
  border: 1px solid #4A4A4A;
  padding: 0px 15px;
  border-radius: 25px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost-2:hover {
  background-color: white;
  opacity: 0,8;
}

.photo{
  margin-top: 32px;
  color: $light-gray;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: lighter;
  background: #3C3C3C;
  transition: background 0.3s ease;
}

.photo:hover{
  cursor: pointer;
  color: #3C3C3C;
  background: white;
}

/* boolean buttons*/

.toggle {
  position: absolute;
  transform: scale(0);
}

.toggle + label {
  position: relative;
  display: inline-block;
  padding-left: 140px;
}

.toggle + label::before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 20px;
  top: 2px;
  left: 0;
  background-color: white;
  border-radius: 50rem;
}

.toggle:checked + label::before {
  background-color: $my-green;
}

.toggle + label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease;
}

.toggle:checked + label::after {
  left: 18px;
}

.btn-geek {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: #3C3C3C;
  border: none;
  opacity: 0,7;
  .btn-geek:hover{
    opacity: 1;
  }
}

.btn-modern{
  background-color: #3C3C3C;
  border-radius: 4px;
  color: $light-gray;
  opacity: 1;
  margin-bottom: 30px;
  padding: 10px;
}

.btn-modern:hover{
  opacity: 0.8;
  color: white;
}

.btn-nav-modern{
  background-color: black;
  border: 1px solid $my-gold;
  opacity: 1;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  font-size: 22px;
  padding: 15px;
  margin-bottom: 10px;
  font-family: 'Allura';
}

.btn-nav-modern:hover{
  border: 1px solid black;
  background-color: $my-gold;
  color: black;
  opacity: 0.8;
}

.soft{
  opacity: 0.6;
}
