/*user cards*/
.user{
  text-align: center;
  color: white;
  background-color: #92B6C3;
  border-radius: 3px;
  margin-bottom: 5px;
}
.user:hover{
  background-color: $my-blue;
  color: white;
  cursor: pointer;
}

/*beer cards*/
.beers-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 40px;
  margin-bottom: 70px;
  border-radius: 5px;
}
.beers-shadow:hover .beer-image {
  opacity: 0.3;
}

.beers-shadow:hover .text{
  opacity: 1;
}

.beer-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.user-beers{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.text {
  color: black;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0
}

.beers-index{
  position: relative;
}

.beer-user{
  position: absolute;
  right: 5%;
  bottom: 100px;
}
/*article cards*/

.article-top-infos{
  color: #3C3C3C;
}

.article-top-title{
  color: #3C3C3C;
}

.article-link{
  padding-left: 20px;
  padding-bottom: 10px;
}
.article-link-text{
  margin-bottom: 0px;
  color: #3C3C3C;
  font-size: 14px
}
.article-link-text:hover{
  color: $my-brown;
}
.content{
  margin-left: 40px;
  margin-right: 40px;
  padding-top:30px;
}

/*tasting cards*/

.tasting-card{
  padding-top: 30px;
}

.tasting-user-img{
  margin: 0;
  position: absolute;
  right: 10px;
  top: 20px;
  transform: translate(-50%, -50%);
}

.tasting-card-title{
  margin-left: 40px;
  color: #3C3C3C;
  background-color: $light-gray;
  border-radius: 5px;
  padding-left: 10px;
}

.tasting-card-title:hover{
  background: $my-green;
  color: white;
  opacity: 0.7;
}

.tasting-card-text{
  margin-left: 40px;
}

.list{
  margin-left: 40px;
  padding-bottom: 20px;
}

.card-show{
  position: relative;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-show:hover{
  position: relative;
  background-color: $light-gray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.user-show-card{
  position: relative;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.user-show-card:hover{
  background-color: $light-gray;

  .design-item-category{
  background-color: white;

  }
}

.show-img{
  margin: 0;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, -50%);
}

.show-infos{
  margin-top: 70px;
  text-align: center;
}

.profil{
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #3C3C3C;
}

.page-title{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;
  padding-top: 10px;
  padding-bottom: 10px;
}


.design-item-category{
  padding-left: 10px;
  font-size: 15px;
  margin-top: 5px;
  background-color: $light-gray;
  border-radius: 4px;
  margin-bottom: 5px;
  color: #3C3C3C;
}

.design-item-category{
  background-color: #92B6C3;
}

.design-item{
  padding-left: 10px;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #3C3C3C;
}

.first-tab{
  margin-top: 28px;
}

.card-text{
  text-align: center;
  margin-bottom: 2px;
  color: black;
  font-size: 14px;
  font-family: 'Work Sans';
  font-weight: lighter;
}

.card-title{
  text-align: center;
  margin-bottom: 10px;
  color: #3C3C3C;
  font-size: 18px;
}

.card-infos{
  color: #3C3C3C;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-infos:hover{
  background: $light-gray;
}

.card-link{
  color: $my-green;
}

.card-link:hover{
  color: $my-blue;
}

.index {
  position: relative;
  width: 80%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.index:hover .image {
  opacity: 0.3;
  width: 100%;
}


.index:hover .middle {
  opacity: 1;
}


.title-top{
  color: $gray;
  background-color: $my-gray;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  margin-bottom: 0px;
}

.title-top-right{
  color: $gray;
  background-color: white;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 20px;
  margin-bottom: 0px;
  font-weight: lighter;
}

.social-networks{
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 10px;
  margin-bottom: 0px;
  font-weight: lighter;
}

.beer-link{
  padding-left: 20px;
}
.beer-link-text{
  margin-bottom: 0px;
  color: #3C3C3C;
}
.beer-link-text:hover{
  color: $my-green;
}


.line{
  border-top: 1px solid #000;
  width : 110px;
}

.legend{
  font-size: 16px;
  color: $light-gray;
  background-image: linear-gradient(-180deg, $black, $my-blue);
  border-radius: 3px;
  width: 50%;
}

.index-side{
  margin-top: 48px;
}

.target-top-title{
  color: #3C3C3C;
  margin-top: 20px;
}

.description{
  margin-left: 40px;
  margin-right: 40px;
  font-size: 14px;
  text-align: left;
}

.rate{
 color: $my-green;
}

.fancy-card-text{
  text-align: center;
  margin-bottom: 5px;
  color: #3C3C3C;
}

.fancy-card-text:hover{
  background-color: white;
  cursor: pointer;
  color: $my-green;
}

.admin{
  color: white;
}

.admin:hover{
  color: white;
}

.header-text{
  text-align: left;
  margin: 20px;
  font-size: 16px;
  font-weight: lighter;
}
.id_card{
  font-weight: lighter;
  font-size: 16px;
  margin-left: 40px;
  margin-bottom: 5px;

}
