/*user cards*/
.user{
  text-align: center;
  color: #3C3C3C;
  background: $light-gray;
  border-radius: 3px;
}

/*beer cards*/

.beers-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 40px;
  margin-bottom: 70px;
}

.beer-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.index:hover .beer-image {
  opacity: 0.3;
  width: 100%;
}

.beers-index{
  position: relative;
}

.beer-user{
  position: absolute;
  right: 5%;
  bottom: 100px;
}
/*article cards*/

.article-top-infos{
  color: #3C3C3C;
}

.article-top-title{
  color: #3C3C3C;
}

.article-link{
  padding-left: 20px;
  padding-bottom: 10px;
}
.article-link-text{
  margin-bottom: 0px;
  color: #3C3C3C;
  font-size: 14px
}
.article-link-text:hover{
  color: $my-brown;
}
.content{
  margin-left: 40px;
  margin-right: 40px;
  padding-top:30px;
}

/*tasting cards*/

.tasting-card{
  padding-top: 30px;
}

.tasting-user-img{
  margin: 0;
  position: absolute;
  right: 10px;
  top: 20px;
  transform: translate(-50%, -50%);
}

.tasting-card-title{
  margin-left: 40px;
  color: #3C3C3C;
  background-color: $light-gray;
  border-radius: 5px;
  padding-left: 10px;
}

.tasting-card-title:hover{
  background-image: linear-gradient(-180deg, $my-brown, $my-yellow);
  color: white;
  opacity: 0.7;
}

.tasting-card-text{
  margin-left: 40px;
}

.list{
  margin-left: 40px;
  padding-bottom: 20px;
}

.card-show{
  position: relative;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-show:hover{
  position: relative;
  background-color: $light-gray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show-img{
  margin: 0;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, -50%);
}

.show-infos{
  margin-top: 70px;
  text-align: center;
}

.profil{
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.first-tab{
  margin-top: 28px;
}

.card-text{
  text-align: center;
  margin-bottom: 0px;
  color: black;
}

.card-title{
  text-align: center;
  margin-bottom: 10px;
  color: #3C3C3C;
}

.card-infos{
  color: #3C3C3C;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-infos:hover{
  background: $light-gray;
}

.index {
  position: relative;
  width: 80%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.index:hover .image {
  opacity: 0.3;
  width: 100%;
}


.index:hover .middle {
  opacity: 1;
}

/*article-mozaïc*/
#mozaic-articles {
    width: 100%;
    max-width: 700px;
    margin: 2em auto;
}
.cols {
    -moz-column-count:3;
    -moz-column-gap: 3%;
    -moz-column-width: 30%;
    -webkit-column-count:3;
    -webkit-column-gap: 3%;
    -webkit-column-width: 30%;
    column-count: 3;
    column-gap: 3%;
    column-width: 30%;
}
.box {
    margin-bottom: 20px;
}
.box.one {
    height: 200px;
    background-color: #d77575;
}
.box.two {
    height: 300px;
    background-color: #dcbc4c;
}
.box.three {
    background-color: #a3ca3b;
    height: 400px;
}
.box.four {
    background-color: #3daee3;
    height: 500px;
}
.box.five {
    background-color: #bb8ed8;
    height: 600px;
}
.box.six {
    background-color: #baafb1;
    height: 200px;
}



.title-top{
  color: $gray;
  background-color: $my-gray;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  margin-bottom: 0px;
}


.beer-link{
  padding-left: 20px;
}
.beer-link-text{
  margin-bottom: 0px;
  color: #3C3C3C;
}
.beer-link-text:hover{
  color: $my-green;
}


.line{
  border-top: 1px solid #000;
  width : 110px;
}

.legend{
  font-size: 16px;
  color: $light-gray;
  background-image: linear-gradient(-180deg, $black, $my-blue);
  border-radius: 3px;
  width: 50%;
}

.index-side{
  margin-top: 48px;
}

.target-top-title{
  color: #3C3C3C;
  margin-top: 20px;
}

.description{
  margin-left: 40px;
  margin-right: 40px;
  font-size: 14px;
  text-align: left;
}

.rate{
 color: $my-green;
}

.fancy-card-text{
  text-align: center;
  margin-bottom: 5px;
  color: #3C3C3C;
}

.fancy-card-text:hover{
  background-color: white;
  cursor: pointer;
  color: $my-green;
}
