#carouselExampleFade{
  z-index: 1;
}
.hook{
  bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  top: 35%;
  .home-title{
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
  }
}

@media screen and (max-width: 768px) {
  .hook{
    bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    top: 35%;
    .home-title{
      font-size: 24px;
      text-align: center;
      color: white;
      text-shadow: 2px 2px 5px black;
    }
  }
}

.btn-carousel{
  background: $my-green;
  border: 1px solid $my-green;
  color: white;
  font-family: 'Roboto';
  text-align: center;
  border-radius: 4px;
  padding: 6px 24px;
  font-weight: bold;
  transition: background 0.3s ease;
  width: 140px;
  opacity: 0.8;
  &:hover{
  background: black;
  border: 1px solid $my-green;
  color: $my-green;
  }
}

.btn-carousel-2{
  background: white;
  border: 1px solid white;
  color: black;
  font-family: 'Roboto';
  text-align: center;
  border-radius: 4px;
  padding: 5px 20px;
  font-weight: bold;
  transition: background 0.3s ease;
  width: 140px;
  opacity: 0.7;
  &:hover{
  opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 0.7;
    transform: translate3d(0, 0, 0);
  }
}

