.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product:hover {
  overflow: hidden;
  height: 120px;
  background: $light-gray;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.beers-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 40px;
  margin-bottom: 70px;
}

.card-show{
  position: relative;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-show:hover{
  position: relative;
  background-color: $light-gray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show-img{
  margin: 0;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, -50%);
}

.show-infos{
  margin-top: 70px;
  text-align: center;
}

.user{
  text-align: center;
  color: $light-gray;
  background-color: $my-blue;
  border-radius: 3px;
}

.profil{
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.first-tab{
  margin-top: 28px;
}

.card-text{
  text-align: center;
  margin-bottom: 0px;
}

.card-title{
  text-align: center;
  margin-bottom: 10px;
}


.index {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 95%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.index:hover .image {
  opacity: 0.3;
  width: 100%;
}


.index:hover .middle {
  opacity: 1;
}

.beer-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.index:hover .beer-image {
  opacity: 0.3;
  width: 100%;
}

.beers-index{
  position: relative;
}

.beer-user{
  position: absolute;
  right: 5%;
  bottom: 75px;
}

#mozaic-articles {
    width: 100%;
    max-width: 700px;
    margin: 2em auto;
}
.cols {
    -moz-column-count:3;
    -moz-column-gap: 3%;
    -moz-column-width: 30%;
    -webkit-column-count:3;
    -webkit-column-gap: 3%;
    -webkit-column-width: 30%;
    column-count: 3;
    column-gap: 3%;
    column-width: 30%;
}
.box {
    margin-bottom: 20px;
}
.box.one {
    height: 200px;
    background-color: #d77575;
}
.box.two {
    height: 300px;
    background-color: #dcbc4c;
}
.box.three {
    background-color: #a3ca3b;
    height: 400px;
}
.box.four {
    background-color: #3daee3;
    height: 500px;
}
.box.five {
    background-color: #bb8ed8;
    height: 600px;
}
.box.six {
    background-color: #baafb1;
    height: 200px;
}

.article-top-infos{
  color: #3C3C3C;
}

.article-top-title{
  color: #3C3C3C;
}


.title-top{
  color: white;
  background-image: linear-gradient(-180deg, $black, $my-blue);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
}

.beer-link{
  padding-left: 20px;
}
.beer-link-text{
  margin-bottom: 0px;
  color: #3C3C3C;
}
.beer-link-text:hover{
  color: $my-green;
}


.article-link{
  padding-left: 20px;
  padding-bottom: 10px;
}
.article-link-text{
  margin-bottom: 0px;
  color: #3C3C3C;
  font-size: 14px
}
.article-link-text:hover{
  color: $my-green;
}

.line{
  border-top: 1px solid #000;
  width : 110px;
}

.legend{
  font-size: 16px;
  color: $light-gray;
  background-image: linear-gradient(-180deg, $black, $my-blue);
  border-radius: 3px;
  width: 50%;
}
