.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.mobile-link{
  margin-top: 20px;
}
.mobile-link p {
  color: #3C3C3C;
  font-size: 12px;
}
.footer-link{
  color: #3C3C3C;
  width: 22px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer-copyright {
  color: #3C3C3C;
  font-size: 14px;
}

.fa-copyright{
  font-size: 12px;
}


