.form-login {
  position: relative;
  background: white;
  padding: 10px 20px;
  margin-top: 100px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);

  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 3px;
    background-color: #3C3C3C;
    border: none;
    opacity: 0,7;
    .btn:hover{
      opacity: 1;
    }
  }
}

.form-login:hover {
  background: $light-gray;
}

.form{
  background: white;
  padding: 10px 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: white;
  color: #3C3C3C;
  border: 1px solid #3C3C3C;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: $my-blue;
  border: 1px solid $my-blue;
  color: white;
}


