.form-login {
  position: relative;
  background: white;
  padding: 10px 20px;
  margin-top: 100px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);

  h2 {
    margin-top: 20px;
    font-family: 'Allura';
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 3px;
    background-color: $my-green;
    border: none;
    .btn:hover{
      background-color: #48C6CF;
    }
  }
}

.form{
  background: white;
  padding: 10px 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: white;
  color: #3C3C3C;
  border: 1px solid #3C3C3C;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: $my-green;
  border: 1px solid $my-green;
  color: white;
}

.squaretag-item {
  display: inline-block;
}

.squaretag-selector {
  position: absolute;
  transform: scale(0);
}

.squaretag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  font-family: 'Allura';
  border-radius: 5px;
  padding: 5px 10px;
  background-color: $light-gray;
  color: #3C3C3C;
  border: 1px solid #3C3C3C;
  margin-right: 5px;
  margin-bottom: 5px;
}
.squaretag-selector:hover + label {
  background-color: $my-green;
  border: 1px solid white;
  color: white;
}

.squaretag-selector:checked + label {
  background-color: $my-green;
  color: white;
}

// Checkboxes design
.bottle-available {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.bottle-choice {
  background: $light-gray;
  padding: 10px;
  flex: 0 0 100%;
  text-align: center;
}
.bottle-choice:hover {
  opacity: 1;
  cursor: pointer;
}
.bottle-choice.active {
  background: #4B535B;
  color: white;
  opacity: 1;
}

.sticker-available {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.sticker-choice {
  background: white;
  padding: 10px;
  flex: 0 0 100%;
  text-align: center;
}
.sticker-choice:hover {
  background-color: $light-gray;
  cursor: pointer;
}
.sticker-choice.picked {
  background: $light-gray;
  opacity: 1;
}

.pack-available {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.pack-choice {
  background: white;
  padding: 10px;
  flex: 0 0 100%;
  text-align: center;
}
.pack-choice:hover {
  background-color: $light-gray;
  cursor: pointer;
}
.pack-choice.choosen {
  background: $light-gray;
  opacity: 1;
}

.market_place-available {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.market_place-choice {
  background: white;
  padding: 10px;
  flex: 0 0 100%;
  text-align: center;
}
.market_place-choice:hover {
  background-color: $light-gray;
  cursor: pointer;
}
.market_place-choice.choosen {
  background: $light-gray;
  opacity: 1;
}

.beyond{
  cursor: pointer;
}

.bottle_top-available {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.bottle_top-choice {
  background: $light-gray;
  padding: 10px;
  flex: 0 0 100%;
  text-align: center;
}
.bottle_top-choice:hover {
  opacity: 1;
  cursor: pointer;
}
.bottle_top-choice.taken {
  background: #4B535B;
  color: white;
  opacity: 1;
}

.typical_beer-available {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.typical_beer-choice {
  background: $light-gray;
  padding: 10px;
  flex: 0 0 100%;
  text-align: center;
}
.typical_beer-choice:hover {
  background: $my-green;
  cursor: pointer;
}
.typical_beer-choice.on {
  background: $my-green;
  color: white;
}

.form-legend{
  font-size: 12px;
  padding-right: 30px;
  padding-left: 30px;
  color: #3C3C3C;
}
.hidden{
  display: none;
}

// Checkboxes design
.beer-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}
.beer-choice {
  background: white;
  padding: 10px;
  border-radius: 5px;
  opacity: 1;
  flex: 0 0 100%;
  text-align: center;
}
.beer-choice:hover {
  background-color: $light-gray;
  cursor: pointer;
}
.beer-choice.active {
  background: $light-gray;
  opacity: 1;
}

