header.masthead {
  position: relative;
  background: url('https://res.cloudinary.com/da2krghvd/image/upload/v1622019894/front-black-small_euz3fo.webp') no-repeat;
  background-size: cover !important;
  background-position: center center !important;
  padding-top: 8rem;
  padding-bottom: 8rem;
  .overlay {
    position: absolute;
    background-color: $gray;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  h1 {
    font-size: 38px;
  }
  @media (min-width: 768px) {
    padding-top: 12rem;
    padding-bottom: 12rem;
    h1 {
      font-size: 38px;
    }
  }
}
.home-title{
  color: #151718;
  text-shadow: 2px 2px 5px white;
  padding-bottom: 20px;
}

.home-title:hover{
  color: white;
  text-shadow: none;
}
.slogan{
  font-weight: lighter;
  font-size: 16px;
  padding-bottom: 26px;
  color: $my-gold;
}

.slogan:hover{
  color: white;
  text-shadow: 1px #3C3C3C;
}

.fa-hand-point-left{
  color: $my-gray;
}

.fa-hand-point-left:hover{
  color: #3C3C3C;
}

h3.goodies{
  font-family: 'Allura', cursive;
  font-size: 30px;
  color: $my-gold;
}

.subtitle{
  font-family: 'Allura', cursive;
  font-size: 50px;

}
