.offnav{
  height: 66px;
}

.offnavs{
  height: 93px;
}

.navbar-lewagon {
  background: white;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link-2{
  color: #3C3C3C;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  margin: auto;
}

.nav-link-2:hover{
  cursor: pointer;
  color: $my-green;
}

.right {
  position: absolute;
  right: 18px;
}


.dropdown-menu{
  background-color: #38414A;
  opacity: 0.9;
}

.nav-title{
  font-size: 20px;
  font-style: italic;
  color: white;
  margin-left: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.browse{
  font-size: 14px;
  color: white;
}

.browse:hover{
  font-size: 14px;
  color: $my-blue;
}

.index-browse{
  color: white;
}

.index-browse:hover{
  color: $my-blue;
  background: white;
}

.img-hover-zoom--quick-zoom img {
  transform-origin: 0 0;
  transition: transform .25s, visibility .25s ease-in;
}

/* The Transformation */
.img-hover-zoom--quick-zoom:hover img {
  transform: scale(2);
}

.text-link-title{
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.text-link{
  margin-left: 10px;
  color: #3C3C3C;
  font-weight: light;
  font-size: 14px;
  margin-top: 0px;
}

.text-link:hover{
  color: #3C3C3C;
  cursor: pointer;
}

.cell{
  margin-bottom: 3px;
  background-color: $light-gray;
  text-align: center;
}

.cell:hover{
  background-color: $my-gold;
  border: 1px solid black;
}

.second-nav-link{
  color: #3C3C3C;
  margin-left: 20px;
  padding: 10px;
  font-size: 15px;
}

.second-nav-link:hover{
  color: #3C3C3C;
  background-color: $light-gray;
  padding: 10px;
  border-radius: 4px;
  transition: ease-in-out 0,5s;
}

.second-nav{
  top: 80px;
  width: 100%;
  position: fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  z-index: 1000;
}

.active{
  background-color: none;
}

.img-nav{
  margin-bottom: 10px;
}

.fa-sign-out-alt {
  color: #3C3C3C;
}
