.navbar-lewagon {
  background: white;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  border-radius: 3px;
}

.offnav{
  height: 56px;
}

.offnavs{
  height: 93px;
}

.nav-link-2{
  color: $my-brown;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  margin: auto;
}

.nav-link-2:hover{
  cursor: pointer;
}

.right {
  position: absolute;
  right: 18px;
}

.browse{
  font-size: 14px;
  color: white;
}

.browse:hover{
  font-size: 14px;
  color: $my-brown;
}

.dropdown-menu{
  background-color: #38414A;
  opacity: 0.7;
}

.nav-title{
  font-size: 20px;
  font-style: italic;
  color: white;
  margin-left: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.fa-bars{
  margin-left: 20px;
  width: 5%;
  font-size: 35px;
}


.img-hover-zoom--quick-zoom img {
  transform-origin: 0 0;
  transition: transform .25s, visibility .25s ease-in;
}

/* The Transformation */
.img-hover-zoom--quick-zoom:hover img {
  transform: scale(2);
}
