.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  border-radius: 3px;
}

.brand{
  font-size: 27px;
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
  color: $my-green;
  opacity: 0.7;
}


.brand:hover{
  font-size: 27px;
  cursor: pointer;
  text-decoration: none;
  color: $my-green;
  opacity: 1;
}

.offnav{
  height: 56px;
}
