.search {
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  color: #3C3C3C;
  padding: 5px 20px;
  border-radius: 3px;
  border :solid 1px;
  font-weight: lighter;
  background: white;
  margin-bottom: 5px;
  margin-top: 5px;
  transition: background 0.3s ease;
}




