/*user cards*/
.user{
  text-align: center;
  color: white;
  background: #4B535B;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
.user:hover{
  color: $light-gray;
  cursor: pointer;
}

.user-beers{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.text {
  color: black;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0
}
